<!doctype html>
<html lang="en">
<head>
  <title>Fab City</title>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,900,300', '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.map_markers = []
    window.markers = []
    window.places = []
  </script>
</head>
<body class="holy-grail <%= action_name %>">
  <div id="overlay"></div>
  <%= image_tag "fabcity.png", style: 'position: absolute; top: 10px;; right: 70px; height: 160px;', id: 'logo' %>
  <header>
    <div id="countdown">
      <div class="countdown styled"></div>
      <div id="countdown-desc">
      until we're <span style="color: #fff">globally connected</span><br/> and <span style="color: #fff">locally self-sufficient</span> &nbsp;&nbsp;<a href="#">more...</a>
      </div>
    </div>
  </header>
  <div class="holy-grail-body">
    <main class="holy-grail-content" style="position: relative">
    <%= yield %>
    <div id="legend"><span class="dot"><%= fa_icon "circle" %></span> <span id="count"></span> Fab Labs registered on <a href="http://fablabs.io">fablabs.io</a></div>
    </main>
    <aside class="holy-grail-sidebar">
      <ul>
        <% @cities.each do |city| %>
          <li><%= city %></li>
        <% end %>
      </ul>
    </aside>
  </div>
  <footer>
  <ul>
    <li><%= image_tag "https://www.fab10.org/assets/logos/iaacbcn-68f7bf551da80228f66854198dfccae1.png", style: 'height: 30px; padding-top: 2px;' %></li>
    <li><%= image_tag "https://www.fab10.org/assets/logos/cba-d146ef8dcab6e3c0c0163adb686f79b4.png", style: 'height: 40px' %></li>
    <li><%= image_tag "https://www.fab10.org/assets/logos/fabfoundation-ea732b676149d4341881762cc8f06310.png", style: 'height: 30px; padding-top: 2px;' %></li>
  </ul>
  </footer>

</body>

<%#= javascript_include_tag 'http://lin2.server.smartcitizen.me:9292/faye/client.js' %>
<%= javascript_include_tag 'https://www.webglearth.com/v2/api.js', '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js', 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript">
  // var faye = new Faye.Client('http://lin2.server.smartcitizen.me:9292/faye');
  // faye.subscribe("/messages/new", function(data) {
  //   eval(data);
  // });

  var place = null;
  var marker = null;
  <% @cities.each do |city| %>
    place = [<%= city.lat %>, <%= city.lng %>]
    marker = WE.marker(place, 'lab.png', 5, 5);
    window.markers.push(marker);
    window.places.push(place);
    marker = L.marker(place);
    window.map_markers.push(marker);
    marker.bindPopup("<b><%= city.name.upcase %></b><%= simple_format city.description %>", {maxWidth: 100}).openPopup()
  <% end %>
</script>
</html>
