<!doctype html>
<html lang="en">
<head>
  <title>Fabcity</title>
  <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="holy-grail">

  <header>
<div id="countdown">

              <div class="countdown styled"></div>
            </div>
      <%= image_tag "fabcity.png", style: 'float: right; height: 80px; padding: 7px;' %>
  </header>
  <div class="holy-grail-body">
      <main class="holy-grail-content" style="position: relative">
          <%= yield %>
      </main>
<!--       <nav class="holy-grail-nav">
          <h2>Navigation</h2>
      </nav> -->
      <aside class="holy-grail-sidebar">
      <ul>
        <li>Barcelona</li>
        <!--
        <li>Boston</li>
        <li>Cambridge</li>
        <li>Somerville</li>
        <li>Ekurhuleni</li>
        <li>Shenzhen</li>
        <li>Kerala</li>
        -->
      </ul>
      </aside>
  </div>
  <footer>
  <ul>
    <li><%= image_tag "https://www.fab10.org/assets/logos/iaacbcn-68f7bf551da80228f66854198dfccae1.png" %></li>
    <li><%= image_tag "https://www.fab10.org/assets/logos/cba-d146ef8dcab6e3c0c0163adb686f79b4.png" %></li>
    <li><%= image_tag "https://www.fab10.org/assets/logos/fabfoundation-ea732b676149d4341881762cc8f06310.png" %></li>
  </ul>
  </footer>

</body>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js', 'application', 'data-turbolinks-track' => true %>
</html>
