<!doctype html>
<html lang="en">
<head>
  <title>Fabcity</title>
  <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="holy-grail">

  <header>
      <%= image_tag "fabcity.png", style: 'float: right; height: 80px; padding: 7px;' %>
  </header>
  <div class="holy-grail-body">
      <main class="holy-grail-content" style="position: relative">
          <%= yield %>
      </main>
<!--       <nav class="holy-grail-nav">
          <h2>Navigation</h2>
      </nav> -->
      <aside class="holy-grail-sidebar">
      <ul>
        <li>Barcelona</li>
        <li>Boston</li>
        <li>Cambridge</li>
        <li>Somerville</li>
        <li>Ekurhuleni</li>
      </ul>
      </aside>
  </div>
  <footer>
      <h2>Affiliates</h2>
  </footer>

</body>
<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js', 'application', 'data-turbolinks-track' => true %>
</html>
