<!doctype html>
<html lang="en">
<head>
  <title>Fab City</title>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Lato:400,900,300', '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="holy-grail">
<div id="overlay">
</div>

<%= image_tag "fabcity.png", style: 'position: absolute; top: 10px;; right: 70px; height: 160px;', id: 'logo' %>

  <header>
<div id="countdown">
  <div class="countdown styled"></div>
  <div id="countdown-desc">
  until we're globally connected<br/> and locally self-sufficient &nbsp;&nbsp;<a href="#">more...</a>
  </div>
</div>

  </header>
  <div class="holy-grail-body">
      <main class="holy-grail-content" style="position: relative">
          <%= yield %>
      </main>
<!--       <nav class="holy-grail-nav">
          <h2>Navigation</h2>
      </nav> -->
      <aside class="holy-grail-sidebar">
      <span style="color: #999; font-style: italic">click the logo and watch ;) ^</span>
      <ul>
        <li>Barcelona</li>
        <li>Boston<br/>
        Cambridge<br/>
        Somerville</li>
        <li>Ekurhuleni</li>
        <li>Kerala</li>
        <li>Shenzhen</li>

      </ul>
      </aside>
  </div>
  <footer>
  <ul>
    <li style='padding-top: 2px'><%= image_tag "https://www.fab10.org/assets/logos/iaacbcn-68f7bf551da80228f66854198dfccae1.png" %></li>
    <li><%= image_tag "https://www.fab10.org/assets/logos/cba-d146ef8dcab6e3c0c0163adb686f79b4.png", style: "width: 40%" %></li>
    <li style='padding-top: 5px'><%= image_tag "https://www.fab10.org/assets/logos/fabfoundation-ea732b676149d4341881762cc8f06310.png" %></li>
  </ul>
  </footer>

</body>
<%= javascript_include_tag 'https://www.webglearth.com/v2/api.js', '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js', 'application', 'data-turbolinks-track' => true %>
</html>
